.section-whatwedo{
    width: 100%;
    height: 660px;
    padding: 70px;
    padding-top: 60px;
    background:rgb(236, 236, 236);
    .what-main-content{

      .text-div{
        width: 100%;
        text-align: center;
        margin-bottom: 28px;
        color: $black;
      }
      .card-div{
        display: flex;
          .card1{
              margin-right: 35px;
              height: 190px;
             
              &:hover .card-content{
                  box-shadow: 2px 19px 12px rgba(128, 128, 128,.6);
              }
              &:hover{
                  cursor: pointer;
              }
              img{
                  width: 100%;
              }
              .card-content{
                  width: 100%;
                  height: 100%;
                  background-color: $white;
                  padding: 20px;
                  border: 1px solid rgba(255, 255, 255,.4);
                  border-top: none;
                  transition: .3s;
                  h4{
                      a{
                          color: $black;
                      text-decoration: none;
                      transition: .5s;
                      &:hover{
                          color:$orange;
                      }
                      }
                  }
                  p{
                      color: $black;
                      margin-bottom: 28px;
                  }
                  a{
                      text-decoration: none;
                      color: $orange;
                      transition: .4s;
                  }
              }
          }
      }
    }
}



@media only screen and (min-width:1145px) and (max-width:1330px){



  .section-whatwedo{
      width: 100%;
      height: 610px;
      padding: 70px;
      padding-top: 40px;
      background:rgb(236, 236, 236);
      .what-main-content{

        .text-div{
          width: 100%;
          text-align: center;
          margin-bottom: 28px;
          color: $black;
        }
        .card-div{
          display: flex;
            .card1{
                margin-right: 35px;
                height: 190px;
               
                &:hover .card-content{
                    box-shadow: 2px 19px 12px rgba(128, 128, 128,.6);
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 100%;
                }
                .card-content{
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    padding: 20px;
                    border: 1px solid rgba(255, 255, 255,.4);
                    border-top: none;
                    transition: .3s;
                    h4{
                        a{
                            color: $black;
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            color:$orange;
                        }
                        }
                    }
                    p{
                        color: $black;
                        margin-bottom: 28px;
                    }
                    a{
                        text-decoration: none;
                        color: $orange;
                        transition: .4s;
                    }
                }
            }
        }
      }
}
}



@media only screen and (min-width:992px) and (max-width:1144px){



  .section-whatwedo{
      width: 100%;
      height: 610px;
      padding: 70px;
      padding-top: 40px;
      background:$white;
      .what-main-content{

        .text-div{
          width: 100%;
          text-align: center;
          margin-bottom: 28px;
          color: $black;
        }
        .card-div{
          display: flex;
            .card1{
                margin-right: 35px;
                height: 240px;
               
                &:hover .card-content{
                    box-shadow: 2px 19px 12px rgba(128, 128, 128,.6);
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 100%;
                }
                .card-content{
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    padding: 20px;
                    border: 1px solid rgba(255, 255, 255,.4);
                    border-top: none;
                    transition: .3s;
                    h4{
                        a{
                            color: $black;
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            color:$orange;
                        }
                        }
                    }
                    p{
                        color: $black;
                        margin-bottom: 28px;
                    }
                    a{
                        text-decoration: none;
                        color: $orange;
                        transition: .4s;
                    }
                }
            }
        }
      }
}
}





@media only screen and (min-width:768px) and (max-width:991px){



  .section-whatwedo{
      width: 100%;
      height: 630px;
      padding: 70px;
      padding-top: 40px;
      background:rgb(236, 236, 236);
      .what-main-content{

        .text-div{
          width: 100%;
          text-align: center;
          margin-bottom: 28px;
          color: $black;
        }
        .card-div{
          
            .card1{
                margin-right: 35px;
                height: 250px;
                &:last-child{
                  margin-right: -10px;
                }
                &:hover .card-content{
                    box-shadow: 2px 19px 12px rgba(128, 128, 128,.6);
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 100%;
                    height: 170px;
                }
                .card-content{
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    padding: 20px;
                    border: 1px solid rgba(255, 255, 255,.4);
                    border-top: none;
                    transition: .3s;
                    h4{
                        a{  font-size: 18px;
                            color: $black;
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            color:$orange;
                        }
                        }
                    }
                    p{
                        color: $black;
                        margin-bottom: 28px;
                        font-size: 14px;
                    }
                    a{
                        text-decoration: none;
                        color: $orange;
                        transition: .4s;
                    }
                }
            }
        }
      }
}
}






@media only screen and (min-width:576px) and (max-width:767px){



  .section-whatwedo{
      width: 100%;
      height: 1650px;
      padding: 50px;
      padding-top: 40px;
      background:rgb(236, 236, 236);
      .what-main-content{

        .text-div{
          width: 100%;
          text-align: center;
          margin-bottom: 28px;
          color: $black;
        }
        .card-div{
             display: block;
            .card1{
                margin-right: 35px;
                height: 170px;
                width: 100%;
                margin-right: -20px;
                margin-left: 15px;
                margin-bottom: 330px;
                &:hover .card-content{
                    box-shadow: 2px 19px 12px rgba(128, 128, 128,.6);
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 100%;
                    height: 300px;
                }
                .card-content{
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    padding: 20px;
                    border: 1px solid rgba(255, 255, 255,.4);
                    border-top: none;
                    transition: .3s;
                    h4{
                        a{  font-size: 18px;
                            color: $black;
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            color:$orange;
                        }
                        }
                    }
                    p{
                        color: $black;
                        margin-bottom: 28px;
                        font-size: 14px;
                    }
                    a{
                        text-decoration: none;
                        color: $orange;
                        transition: .4s;
                    }
                }
            }
        }
      }
}
}



@media only screen and (min-width:400px) and (max-width:575px){



  .section-whatwedo{
      width: 100%;
      height: 1330px;
      padding: 30px;
      padding-top: 40px;
      background:rgb(236, 236, 236);
      .what-main-content{

        .text-div{
          width: 100%;
          text-align: center;
          margin-bottom: 28px;
          color: $black;
        }
        .card-div{
             display: block;
            .card1{
                margin-right: 35px;
                height: 180px;
                width: 100%;
                margin-right: -20px;
                margin-left: 8px;
                margin-bottom: 196px;
                &:hover .card-content{
                    box-shadow: 2px 19px 12px rgba(128, 128, 128,.6);
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 100%;
                    height: 170px;
                }
                .card-content{
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    padding: 20px;
                    border: 1px solid rgba(255, 255, 255,.4);
                    border-top: none;
                    transition: .3s;
                    h4{
                        a{  font-size: 18px;
                            color: $black;
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            color:$orange;
                        }
                        }
                    }
                    p{
                        color: $black;
                        margin-bottom: 28px;
                        font-size: 14px;
                    }
                    a{
                        text-decoration: none;
                        color: $orange;
                        transition: .4s;
                    }
                }
            }
        }
      }
}
}





@media only screen and (max-width:399px){



  .section-whatwedo{
      width: 100%;
      height: 1330px;
      padding: 20px;
      padding-top: 40px;
      background:rgb(236, 236, 236);
      .what-main-content{

        .text-div{
          width: 100%;
          text-align: center;
          margin-bottom: 28px;
          color: $black;
        }
        .card-div{
             display: block;
            .card1{
                margin-right: 35px;
                height: 180px;
                width: 100%;
                margin-right: -20px;
                margin-left: 4px;
                margin-bottom: 196px;
                &:hover .card-content{
                    box-shadow: 2px 19px 12px rgba(128, 128, 128,.6);
                }
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 100%;
                    height: 170px;
                }
                .card-content{
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    padding: 20px;
                    border: 1px solid rgba(255, 255, 255,.4);
                    border-top: none;
                    transition: .3s;
                    h4{
                        a{  font-size: 18px;
                            color: $black;
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            color:$orange;
                        }
                        }
                    }
                    p{
                        color: $black;
                        margin-bottom: 28px;
                        font-size: 14px;
                    }
                    a{
                        text-decoration: none;
                        color: $orange;
                        transition: .4s;
                    }
                }
            }
        }
      }
}
}