@font-face {
  font-family: Poppins;
  src: url("../webfonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins Light;
  src: url("../webfonts/Poppins-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  list-style: none;
  text-decoration: none;
}

header {
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
  width: 100%;
  z-index: 12;
  position: fixed;
}
header > .wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .wrapper > .logo {
  line-height: 70px;
}
header > .wrapper > .logo > i {
  font-size: 27px;
  color: #F85A40;
}
header > .wrapper > .logo > a {
  font-size: 27px;
  color: #000;
  font-weight: bold;
  transition: 0.5s;
}
header > .wrapper > .logo > a:hover {
  color: #F85A40;
}

.menu-btn > i {
  font-size: 22px;
  cursor: pointer;
  display: none;
}

nav {
  float: right;
  display: flex;
  align-items: center;
  line-height: 40px;
}
nav > input {
  display: none;
}
nav > ul {
  display: flex;
}
nav > ul > li > a {
  position: relative;
  font-size: 16px;
  margin: 0 18px;
  color: #000;
  font-weight: bold;
  padding: 5px 8px;
  transition: 0.3s;
}
nav > ul > li > a:hover {
  color: #F85A40;
}
nav > ul > li > .home-inactive:after {
  content: "";
  position: absolute;
  background-color: #F85A40;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  filter: opacity(0);
  transition: 0.3s;
}
nav > ul > li > .home-inactive:hover:after {
  filter: opacity(1);
}
nav > ul > li > .home-active {
  color: #F85A40;
  border-bottom: 1px solid #F85A40;
}
nav > ul > .search-bar {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.144);
  border-radius: 20px;
  padding: 20px 20px;
}
nav > ul > .search-bar > input {
  border: none;
  outline: none;
  width: 150px;
}
nav > ul > .search-bar > i {
  color: #F85A40;
  cursor: pointer;
  padding: 0 3px 0 10px;
}

.banner-area {
  width: 100%;
  height: 100vh;
  top: 70px;
  background-image: url("../images/Header/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.banner-area .dark {
  display: flex;
  top: 70px;
  width: 100%;
  height: 100vh;
}
.banner-area .dark > .banner-area-text {
  margin: auto 80px;
}
.banner-area .dark > .banner-area-text > p {
  padding-top: 8%;
  font-size: 2.7rem;
  line-height: 4rem;
  color: #fff;
  font-family: Poppins Light;
}
.banner-area .dark > .banner-area-text > span {
  font-family: poppins;
}
.banner-area .dark > .banner-area-text > .des {
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 70px;
}
.banner-area .dark > .banner-area-text > .buttons > a {
  padding: 14px 28px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.banner-area .dark > .banner-area-text > .buttons > .b1 {
  background: #fff;
  color: #000;
  transition: 0.3s;
}
.banner-area .dark > .banner-area-text > .buttons > .b1:hover {
  background: transparent;
  color: #fff;
}
.banner-area .dark > .banner-area-text > .buttons > .b2 {
  background: transparent;
  color: #fff;
  transition: 0.3s;
}
.banner-area .dark > .banner-area-text > .buttons > .b2:hover {
  background: #fff;
  color: #000;
}

@media only screen and (max-width: 1054px) {
  .logo > i {
    font-size: 25px;
  }
  .logo > a {
    font-size: 25px;
  }

  .menu-btn > i {
    display: block;
    right: 20px;
    top: 25px;
  }

  nav > ul {
    position: fixed;
    top: 70px;
    left: -100%;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  nav > ul > li {
    margin: 40px 0;
  }
  nav > ul > li > .home-active {
    border-bottom: none;
  }
  nav > ul > li > a {
    font-size: 20px;
    display: block;
  }
  nav > .search-bar {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  nav > .search-bar > input {
    margin: auto;
    font-size: 22px;
  }

  .banner-area > .dark {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.137));
  }
  .banner-area > .dark > .banner-area-text > .title {
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin-bottom: 20px;
  }
  .banner-area > .dark > .banner-area-text > .des {
    line-height: 2rem;
  }
  .banner-area > .dark > .banner-area-text > .buttons {
    flex-direction: column;
  }
}
@media only screen and (max-width: 478px) {
  .buttons {
    display: flex;
  }
  .buttons a {
    margin-top: 15px;
  }
}
.wow {
  visibility: hidden;
}

.about-section {
  width: 100%;
  height: 520px;
  background-color: #fff;
  padding: 50px;
}

.container1 {
  display: flex;
}
.container1 .about-left {
  padding: 20px;
  height: 500px;
  margin-top: 10px;
  padding-bottom: 40px;
}
.container1 .about-left img {
  width: 600px;
}
.container1 .about-right {
  padding: 20px;
  height: 300px;
  margin-top: 10px;
}
.container1 .about-right .about-first {
  padding: 20px;
  color: #000;
  margin-bottom: 30px;
}
.container1 .about-right .about-second {
  padding-left: 20px;
  display: flex;
}
.container1 .about-right .about-second i {
  color: #F85A40;
  font-size: 34px;
  margin-bottom: 10px;
}
.container1 .about-right .about-second .about-second-first h4 {
  color: #000;
  margin-bottom: 15px;
}
.container1 .about-right .about-second .about-second-first p {
  color: #000;
}
.container1 .about-right .about-second .about-second-last h4 {
  color: #000;
  margin-bottom: 15px;
}
.container1 .about-right .about-second .about-second-last p {
  color: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1600px) {
  .about-section {
    width: 100%;
    height: 490px;
  }
  .about-section .container1 .about-left img {
    width: 500px;
    height: 350px;
    margin-top: -10px;
  }
  .about-section .container1 .about-right {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second .about-second-first {
    margin-right: 15px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section {
    width: 100%;
    height: 850px;
  }
  .about-section .container1 {
    display: block;
  }
  .about-section .container1 .about-left img {
    width: 100%;
    height: 400px;
  }
  .about-section .container1 .about-right {
    margin-top: -30px;
  }
  .about-section .container1 .about-right .about-first {
    margin-top: -40px;
  }
  .about-section .container1 .about-right .about-second {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second .about-second-first {
    margin-right: 15px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-section {
    width: 100%;
    height: 800px;
  }
  .about-section .container1 {
    display: block;
  }
  .about-section .container1 .about-left {
    margin-top: -15px;
  }
  .about-section .container1 .about-left img {
    width: 100%;
    height: 330px;
  }
  .about-section .container1 .about-right {
    margin-top: -125px;
  }
  .about-section .container1 .about-right .about-first {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second .about-second-first {
    margin-right: 15px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 575px) {
  .about-section {
    width: 100%;
    height: 710px;
    font-size: 16px;
  }
  .about-section .container1 {
    display: block;
  }
  .about-section .container1 .about-left {
    margin-top: -15px;
  }
  .about-section .container1 .about-left img {
    width: 100%;
    height: 260px;
  }
  .about-section .container1 .about-right {
    margin-top: -215px;
  }
  .about-section .container1 .about-right .about-first {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-first h2 {
    font-size: 18px;
  }
  .about-section .container1 .about-right .about-first p {
    font-size: 14px;
  }
  .about-section .container1 .about-right .about-second {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second .about-second-first {
    margin-right: 15px;
    padding-right: 10px;
  }
  .about-section .container1 .about-right .about-second .about-second-first h4 {
    font-size: 18px;
  }
  .about-section .container1 .about-right .about-second .about-second-first p {
    font-size: 13px;
  }
  .about-section .container1 .about-right .about-second .about-second-last h4 {
    font-size: 18px;
  }
  .about-section .container1 .about-right .about-second .about-second-last p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 420px) {
  .about-section {
    width: 100%;
    height: 730px;
    font-size: 16px;
  }
  .about-section .container1 {
    display: block;
  }
  .about-section .container1 .about-left {
    margin-top: -15px;
  }
  .about-section .container1 .about-left img {
    width: 100%;
    height: 260px;
  }
  .about-section .container1 .about-right {
    margin-top: -215px;
  }
  .about-section .container1 .about-right .about-first {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-first h2 {
    font-size: 18px;
  }
  .about-section .container1 .about-right .about-first p {
    font-size: 13px;
  }
  .about-section .container1 .about-right .about-second {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second .about-second-first {
    margin-right: 15px;
    padding-right: 10px;
  }
  .about-section .container1 .about-right .about-second .about-second-first h4 {
    font-size: 18px;
  }
  .about-section .container1 .about-right .about-second .about-second-first p {
    font-size: 13px;
  }
  .about-section .container1 .about-right .about-second .about-second-last h4 {
    font-size: 18px;
  }
  .about-section .container1 .about-right .about-second .about-second-last p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 336px) and (max-width: 399px) {
  .about-section {
    width: 100%;
    height: 870px;
    font-size: 16px;
  }
  .about-section .container1 {
    display: block;
  }
  .about-section .container1 .about-left {
    margin-top: -15px;
  }
  .about-section .container1 .about-left img {
    width: 100%;
    height: 200px;
  }
  .about-section .container1 .about-right {
    margin-top: -265px;
  }
  .about-section .container1 .about-right .about-first {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-first p {
    font-size: 13px;
  }
  .about-section .container1 .about-right .about-second {
    display: block;
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second .about-second-first {
    margin-right: 15px;
    padding-right: 10px;
  }
  .about-section .container1 .about-right .about-second .about-second-first p {
    font-size: 13px;
  }
  .about-section .container1 .about-right .about-second .about-second-last p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 335px) {
  .about-section {
    width: 100%;
    height: 950px;
    font-size: 16px;
  }
  .about-section .container1 {
    display: block;
  }
  .about-section .container1 .about-left {
    margin-top: -15px;
  }
  .about-section .container1 .about-left img {
    width: 100%;
    height: 200px;
  }
  .about-section .container1 .about-right {
    margin-top: -265px;
  }
  .about-section .container1 .about-right .about-first {
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-first p {
    font-size: 13px;
  }
  .about-section .container1 .about-right .about-second {
    display: block;
    margin-top: -20px;
  }
  .about-section .container1 .about-right .about-second .about-second-first {
    margin-right: 15px;
    padding-right: 10px;
  }
  .about-section .container1 .about-right .about-second .about-second-first p {
    font-size: 13px;
  }
  .about-section .container1 .about-right .about-second .about-second-last p {
    font-size: 13px;
  }
}
.section-whatwedo {
  width: 100%;
  height: 660px;
  padding: 70px;
  padding-top: 60px;
  background: rgb(236, 236, 236);
}
.section-whatwedo .what-main-content .text-div {
  width: 100%;
  text-align: center;
  margin-bottom: 28px;
  color: #000;
}
.section-whatwedo .what-main-content .card-div {
  display: flex;
}
.section-whatwedo .what-main-content .card-div .card1 {
  margin-right: 35px;
  height: 190px;
}
.section-whatwedo .what-main-content .card-div .card1:hover .card-content {
  box-shadow: 2px 19px 12px rgba(128, 128, 128, 0.6);
}
.section-whatwedo .what-main-content .card-div .card1:hover {
  cursor: pointer;
}
.section-whatwedo .what-main-content .card-div .card1 img {
  width: 100%;
}
.section-whatwedo .what-main-content .card-div .card1 .card-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-top: none;
  transition: 0.3s;
}
.section-whatwedo .what-main-content .card-div .card1 .card-content h4 a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
.section-whatwedo .what-main-content .card-div .card1 .card-content h4 a:hover {
  color: #F85A40;
}
.section-whatwedo .what-main-content .card-div .card1 .card-content p {
  color: #000;
  margin-bottom: 28px;
}
.section-whatwedo .what-main-content .card-div .card1 .card-content a {
  text-decoration: none;
  color: #F85A40;
  transition: 0.4s;
}

@media only screen and (min-width: 1145px) and (max-width: 1330px) {
  .section-whatwedo {
    width: 100%;
    height: 610px;
    padding: 70px;
    padding-top: 40px;
    background: rgb(236, 236, 236);
  }
  .section-whatwedo .what-main-content .text-div {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    color: #000;
  }
  .section-whatwedo .what-main-content .card-div {
    display: flex;
  }
  .section-whatwedo .what-main-content .card-div .card1 {
    margin-right: 35px;
    height: 190px;
  }
  .section-whatwedo .what-main-content .card-div .card1:hover .card-content {
    box-shadow: 2px 19px 12px rgba(128, 128, 128, 0.6);
  }
  .section-whatwedo .what-main-content .card-div .card1:hover {
    cursor: pointer;
  }
  .section-whatwedo .what-main-content .card-div .card1 img {
    width: 100%;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    transition: 0.3s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a {
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a:hover {
    color: #F85A40;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content p {
    color: #000;
    margin-bottom: 28px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content a {
    text-decoration: none;
    color: #F85A40;
    transition: 0.4s;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1144px) {
  .section-whatwedo {
    width: 100%;
    height: 610px;
    padding: 70px;
    padding-top: 40px;
    background: #fff;
  }
  .section-whatwedo .what-main-content .text-div {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    color: #000;
  }
  .section-whatwedo .what-main-content .card-div {
    display: flex;
  }
  .section-whatwedo .what-main-content .card-div .card1 {
    margin-right: 35px;
    height: 240px;
  }
  .section-whatwedo .what-main-content .card-div .card1:hover .card-content {
    box-shadow: 2px 19px 12px rgba(128, 128, 128, 0.6);
  }
  .section-whatwedo .what-main-content .card-div .card1:hover {
    cursor: pointer;
  }
  .section-whatwedo .what-main-content .card-div .card1 img {
    width: 100%;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    transition: 0.3s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a {
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a:hover {
    color: #F85A40;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content p {
    color: #000;
    margin-bottom: 28px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content a {
    text-decoration: none;
    color: #F85A40;
    transition: 0.4s;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-whatwedo {
    width: 100%;
    height: 630px;
    padding: 70px;
    padding-top: 40px;
    background: rgb(236, 236, 236);
  }
  .section-whatwedo .what-main-content .text-div {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    color: #000;
  }
  .section-whatwedo .what-main-content .card-div .card1 {
    margin-right: 35px;
    height: 250px;
  }
  .section-whatwedo .what-main-content .card-div .card1:last-child {
    margin-right: -10px;
  }
  .section-whatwedo .what-main-content .card-div .card1:hover .card-content {
    box-shadow: 2px 19px 12px rgba(128, 128, 128, 0.6);
  }
  .section-whatwedo .what-main-content .card-div .card1:hover {
    cursor: pointer;
  }
  .section-whatwedo .what-main-content .card-div .card1 img {
    width: 100%;
    height: 170px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    transition: 0.3s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a:hover {
    color: #F85A40;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content p {
    color: #000;
    margin-bottom: 28px;
    font-size: 14px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content a {
    text-decoration: none;
    color: #F85A40;
    transition: 0.4s;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-whatwedo {
    width: 100%;
    height: 1650px;
    padding: 50px;
    padding-top: 40px;
    background: rgb(236, 236, 236);
  }
  .section-whatwedo .what-main-content .text-div {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    color: #000;
  }
  .section-whatwedo .what-main-content .card-div {
    display: block;
  }
  .section-whatwedo .what-main-content .card-div .card1 {
    margin-right: 35px;
    height: 170px;
    width: 100%;
    margin-right: -20px;
    margin-left: 15px;
    margin-bottom: 330px;
  }
  .section-whatwedo .what-main-content .card-div .card1:hover .card-content {
    box-shadow: 2px 19px 12px rgba(128, 128, 128, 0.6);
  }
  .section-whatwedo .what-main-content .card-div .card1:hover {
    cursor: pointer;
  }
  .section-whatwedo .what-main-content .card-div .card1 img {
    width: 100%;
    height: 300px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    transition: 0.3s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a:hover {
    color: #F85A40;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content p {
    color: #000;
    margin-bottom: 28px;
    font-size: 14px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content a {
    text-decoration: none;
    color: #F85A40;
    transition: 0.4s;
  }
}
@media only screen and (min-width: 400px) and (max-width: 575px) {
  .section-whatwedo {
    width: 100%;
    height: 1330px;
    padding: 30px;
    padding-top: 40px;
    background: rgb(236, 236, 236);
  }
  .section-whatwedo .what-main-content .text-div {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    color: #000;
  }
  .section-whatwedo .what-main-content .card-div {
    display: block;
  }
  .section-whatwedo .what-main-content .card-div .card1 {
    margin-right: 35px;
    height: 180px;
    width: 100%;
    margin-right: -20px;
    margin-left: 8px;
    margin-bottom: 196px;
  }
  .section-whatwedo .what-main-content .card-div .card1:hover .card-content {
    box-shadow: 2px 19px 12px rgba(128, 128, 128, 0.6);
  }
  .section-whatwedo .what-main-content .card-div .card1:hover {
    cursor: pointer;
  }
  .section-whatwedo .what-main-content .card-div .card1 img {
    width: 100%;
    height: 170px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    transition: 0.3s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a:hover {
    color: #F85A40;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content p {
    color: #000;
    margin-bottom: 28px;
    font-size: 14px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content a {
    text-decoration: none;
    color: #F85A40;
    transition: 0.4s;
  }
}
@media only screen and (max-width: 399px) {
  .section-whatwedo {
    width: 100%;
    height: 1330px;
    padding: 20px;
    padding-top: 40px;
    background: rgb(236, 236, 236);
  }
  .section-whatwedo .what-main-content .text-div {
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    color: #000;
  }
  .section-whatwedo .what-main-content .card-div {
    display: block;
  }
  .section-whatwedo .what-main-content .card-div .card1 {
    margin-right: 35px;
    height: 180px;
    width: 100%;
    margin-right: -20px;
    margin-left: 4px;
    margin-bottom: 196px;
  }
  .section-whatwedo .what-main-content .card-div .card1:hover .card-content {
    box-shadow: 2px 19px 12px rgba(128, 128, 128, 0.6);
  }
  .section-whatwedo .what-main-content .card-div .card1:hover {
    cursor: pointer;
  }
  .section-whatwedo .what-main-content .card-div .card1 img {
    width: 100%;
    height: 170px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    transition: 0.3s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content h4 a:hover {
    color: #F85A40;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content p {
    color: #000;
    margin-bottom: 28px;
    font-size: 14px;
  }
  .section-whatwedo .what-main-content .card-div .card1 .card-content a {
    text-decoration: none;
    color: #F85A40;
    transition: 0.4s;
  }
}
.happy-customers {
  width: 100%;
  padding: 70px;
  display: flex;
  background-color: #fff;
  display: flex;
}
.happy-customers .container1 {
  width: 90%;
  margin-inline: auto;
}
.happy-customers .container1 .happy-left {
  padding-right: 0px;
}
.happy-customers .container1 .happy-left h3 {
  font-size: 35px;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
}
.happy-customers .container1 .happy-left .p2 {
  margin-bottom: 40px;
}
.happy-customers .container1 .happy-left p {
  word-spacing: 2.8px;
  color: #000;
}
.happy-customers .container1 .happy-left .happy-left-icon {
  display: flex;
  position: relative;
  width: 100%;
}
.happy-customers .container1 .happy-left .happy-left-icon .icon-left i {
  margin-right: 5px;
  font-size: 28px;
  color: #F85A40;
}
.happy-customers .container1 .happy-left .happy-left-icon .icon-left .k {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.happy-customers .container1 .happy-left .happy-left-icon .icon-left .kikobo {
  font-size: 19px;
  color: #000;
  display: block;
  margin-left: 42px;
  margin-top: 7px;
}
.happy-customers .container1 .happy-left .happy-left-icon .icon-right {
  position: absolute;
  right: 15px;
}
.happy-customers .container1 .happy-left .happy-left-icon .icon-right i {
  margin-right: 5px;
  font-size: 29px;
  color: #F85A40;
}
.happy-customers .container1 .happy-left .happy-left-icon .icon-right .k {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.happy-customers .container1 .happy-left .happy-left-icon .icon-right .kikobo {
  font-size: 19px;
  color: #000;
  font-size: 19px;
  color: #000;
  display: block;
  margin-left: 42px;
  margin-top: 7px;
}
.happy-customers .container1 .happy-right {
  width: 100%;
  margin-top: -40px;
}
.happy-customers .container1 .happy-right .blockquote-top {
  margin-top: 10px;
}
.happy-customers .container1 .happy-right .blockquote-top .img {
  width: 70px;
  height: 70px;
  background: url("../images/happy customes/happy customes 2.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
}
.happy-customers .container1 .happy-right .blockquote-top .quote-text1 {
  display: inline-block;
  position: absolute;
  right: 80px;
}
.happy-customers .container1 .happy-right .blockquote-top i {
  color: #F85A40;
}
.happy-customers .container1 .happy-right .blockquote-top blockquote {
  width: 420px;
}
.happy-customers .container1 .happy-right .blockquote-top blockquote q {
  color: #000;
}
.happy-customers .container1 .happy-right .blockquote-top blockquote .blockquote-footer {
  margin-top: 11px;
  color: #F85A40;
}
.happy-customers .container1 .happy-right .blockquote-bottom {
  margin-top: 250px;
}
.happy-customers .container1 .happy-right .blockquote-bottom .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  background: url("../images/happy customes/happy customers 1.jpg") no-repeat;
  background-size: cover;
}
.happy-customers .container1 .happy-right .blockquote-bottom .quote-text1 {
  display: inline-block;
  position: absolute;
  right: 80px;
}
.happy-customers .container1 .happy-right .blockquote-bottom .quote-text1 i {
  color: #F85A40;
}
.happy-customers .container1 .happy-right .blockquote-bottom .quote-text1 blockquote {
  width: 420px;
}
.happy-customers .container1 .happy-right .blockquote-bottom .quote-text1 blockquote q {
  color: #000;
}
.happy-customers .container1 .happy-right .blockquote-bottom .quote-text1 blockquote .blockquote-footer {
  margin-top: 11px;
  color: #F85A40;
}

@media screen and (max-width: 1600px) {
  .happy-customers {
    height: 520px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .happy-customers .container1 .happy-left p {
    width: 400px;
  }
  .happy-customers .container1 .happy-right {
    position: absolute;
    margin-left: -10px;
    margin-top: -25px;
  }
  .happy-customers .container1 .happy-right q {
    width: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .happy-customers {
    height: 940px;
  }
  .happy-customers .container1 {
    display: block;
  }
  .happy-customers .container1 .happy-left p {
    width: 100%;
    text-align: center;
  }
  .happy-customers .container1 .happy-left h3 {
    text-align: center;
  }
  .happy-customers .container1 .happy-right {
    display: block;
    width: 100%;
  }
  .happy-customers .container1 .one {
    position: absolute;
    margin-top: -150px;
    left: 145px;
  }
  .happy-customers .container1 .one blockquote {
    width: 100% !important;
  }
  .happy-customers .container1 .two {
    margin-top: 85px;
    left: 145px;
    position: absolute;
  }

  q {
    display: block;
    width: 100%;
  }

  blockquote {
    width: 100% !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .happy-customers {
    height: 950px;
    padding-top: 40px;
    padding: 30px;
  }
  .happy-customers .container1 {
    display: block;
  }
  .happy-customers .container1 .happy-left p {
    width: 100%;
    text-align: center;
  }
  .happy-customers .container1 .happy-left h3 {
    text-align: center;
  }
  .happy-customers .container1 .happy-right {
    display: block;
    width: 100%;
  }
  .happy-customers .container1 .one {
    position: absolute;
    margin-top: -150px;
    left: 65px;
  }
  .happy-customers .container1 .one blockquote {
    width: 100% !important;
  }
  .happy-customers .container1 .two {
    margin-top: 85px;
    left: 65px;
    position: absolute;
  }

  q {
    display: block;
    width: 100%;
  }

  blockquote {
    width: 100% !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 575px) {
  .happy-customers {
    height: 950px;
    padding: 20px;
  }
  .happy-customers .container1 {
    display: block;
  }
  .happy-customers .container1 .happy-left p {
    width: 100%;
    text-align: center;
  }
  .happy-customers .container1 .happy-left h3 {
    text-align: center;
  }
  .happy-customers .container1 .happy-right {
    display: block;
    width: 100%;
  }
  .happy-customers .container1 .one {
    position: absolute;
    margin-top: -150px;
    left: 45px;
  }
  .happy-customers .container1 .one blockquote {
    width: 100% !important;
  }
  .happy-customers .container1 .two {
    margin-top: 85px;
    left: 45px;
    position: absolute;
  }

  q {
    display: block;
    width: 100%;
  }

  blockquote {
    width: 100% !important;
  }
}
@media only screen and (min-width: 364px) and (max-width: 399px) {
  .happy-customers {
    height: 1110px;
    padding: 20px;
  }
  .happy-customers .container1 {
    display: block;
  }
  .happy-customers .container1 .happy-left p {
    width: 100%;
    text-align: center;
  }
  .happy-customers .container1 .happy-left h3 {
    text-align: center;
  }
  .happy-customers .container1 .happy-right {
    display: block;
    width: 100%;
  }
  .happy-customers .container1 .one {
    position: absolute;
    margin-top: -150px;
    left: 45px;
  }
  .happy-customers .container1 .one blockquote {
    width: 100% !important;
  }
  .happy-customers .container1 .two {
    margin-top: 155px;
    left: 45px;
    position: absolute;
  }

  q {
    display: block;
    width: 100%;
  }

  blockquote {
    width: 100% !important;
  }
}
@media only screen and (min-width: 280px) and (max-width: 363px) {
  .happy-customers {
    height: 90vh;
    padding: 20px;
  }
  .happy-customers .container1 {
    display: block;
  }
  .happy-customers .container1 .happy-left .happy-left-icon {
    display: block;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-left {
    text-align: center;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-left i {
    font-size: 22px;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-left .k {
    font-size: 25px;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-left .kikobo {
    margin-left: -5px;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-right {
    text-align: center;
    margin-right: 60px;
    margin-top: 14px;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-right i {
    font-size: 22px;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-right .k {
    font-size: 25px;
  }
  .happy-customers .container1 .happy-left .happy-left-icon .icon-right .kikobo {
    margin-left: -5px;
  }
  .happy-customers .container1 .happy-left p {
    width: 100%;
    text-align: center;
  }
  .happy-customers .container1 .happy-left h3 {
    text-align: center;
  }
  .happy-customers .container1 .happy-right {
    display: block;
    width: 100%;
  }
  .happy-customers .container1 .happy-right > .blockquote-bottom {
    margin-top: 200px;
  }
  .happy-customers .container1 .one {
    position: absolute;
    margin-top: -80px;
    left: 45px;
  }
  .happy-customers .container1 .one blockquote {
    width: 100% !important;
  }
  .happy-customers .container1 .two {
    margin-top: 275px;
    left: 45px;
    position: absolute;
  }

  q {
    display: block;
    width: 100%;
  }

  blockquote {
    width: 100% !important;
  }
}
.petlovers {
  width: 100%;
  padding: 100px 68px;
  background: url(https://raw.githubusercontent.com/webDeviloperHasib/responsive-typing-effect-website/main/Images/pet%20lovers/img1.jpg) fixed center no-repeat;
  background-size: cover;
  height: auto;
}
.petlovers .container4 {
  padding: 30px 50px;
}
.petlovers .container4 .main-content-lovers {
  width: 600px;
}
.petlovers .container4 .main-content-lovers p {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.8px;
  word-spacing: 3px;
  font-size: 12px;
}
.petlovers .container4 .main-content-lovers h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
}
.petlovers .container4 .main-content-lovers button {
  padding: 11px 27px;
  opacity: 1;
  color: green;
  border-radius: 7px;
  transition: 0.4s;
  outline: none;
  border: none;
}
.petlovers .container4 .main-content-lovers button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .petlovers {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 780px) {
  .petlovers {
    padding-left: 10px 20px;
  }
  .petlovers .container4 {
    padding: 10;
  }
  .petlovers .container4 .main-content-lovers h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 630px) {
  .petlovers {
    padding-left: 10px 20px;
  }
  .petlovers .container4 {
    padding: 10;
  }
  .petlovers .container4 .main-content-lovers {
    width: 330px;
  }
  .petlovers .container4 .main-content-lovers h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 550px) {
  .petlovers {
    padding-left: 10px 20px;
  }
  .petlovers .container4 {
    padding: 10px;
  }
  .petlovers .container4 .main-content-lovers {
    width: 330px;
  }
  .petlovers .container4 .main-content-lovers h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 350px) {
  .petlovers {
    padding-left: 10px 20px;
  }
  .petlovers .container4 {
    padding: 10px;
  }
  .petlovers .container4 .main-content-lovers {
    width: 230px;
  }
  .petlovers .container4 .main-content-lovers h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
.footer-section {
  width: 100%;
  padding: 40px 65px 10px;
  background-color: #000;
}
.footer-section .second-footer-section {
  width: 100%;
  display: flex;
  position: relative;
  height: 120px;
}
.footer-section .second-footer-section .ftlastleft {
  position: absolute;
  left: 0;
}
.footer-section .second-footer-section .ftlastleft p {
  color: #fff;
  margin-top: 60px;
  margin-bottom: 34px;
}
.footer-section .second-footer-section .ftlastleft p a {
  color: #F85A40;
  transition: 0.5s;
  margin-left: 6px;
  text-decoration: none;
}
.footer-section .second-footer-section .ftlastleft p a:hover {
  color: #fff;
}
.footer-section .second-footer-section .ftlastright {
  position: absolute;
  right: 0;
}
.footer-section .second-footer-section .ftlastright ul {
  margin-top: 54px;
}
.footer-section .second-footer-section .ftlastright ul li {
  list-style: none;
  display: inline;
}
.footer-section .second-footer-section .ftlastright ul li:hover a {
  background-color: red;
}
.footer-section .second-footer-section .ftlastright ul li a {
  color: #fff;
  font-size: 18px;
  transition: 0.6s;
  padding: 15px 22px;
  border-radius: 50%;
}
.footer-section .first-footer-section {
  display: flex;
  height: 300px;
  width: 100%;
  border-bottom: 0.1px solid #fff;
}
.footer-section .first-footer-section .f {
  width: 100%;
}
.footer-section .first-footer-section .second {
  display: flex;
  padding: 18px 20px 18px 50px;
}
.footer-section .first-footer-section .second .col-sfirst h4 {
  color: #fff;
}
.footer-section .first-footer-section .second .col-sfirst ul {
  margin-top: 30px;
}
.footer-section .first-footer-section .second .col-sfirst ul li {
  list-style: none;
  margin-bottom: 8px;
}
.footer-section .first-footer-section .second .col-sfirst ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}
.footer-section .first-footer-section .second .col-sfirst ul li a:hover {
  color: #F85A40;
}
.footer-section .first-footer-section .second .col-sfirst ul li a i {
  font-size: 11px;
  margin-right: 5px;
}
.footer-section .first-footer-section .second .col-ssecond {
  margin-top: 60px;
}
.footer-section .first-footer-section .second .col-ssecond ul li {
  list-style: none;
  margin-bottom: 8px;
}
.footer-section .first-footer-section .second .col-ssecond ul li a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: 0.5s;
}
.footer-section .first-footer-section .second .col-ssecond ul li a:hover {
  color: #F85A40;
}
.footer-section .first-footer-section .second .col-ssecond ul li a i {
  font-size: 11px;
  margin-right: 5px;
}
.footer-section .first-footer-section .third {
  padding: 10px;
  margin-top: 10px;
}
.footer-section .first-footer-section .third h4 {
  color: #fff;
  margin-bottom: 22px;
}
.footer-section .first-footer-section .third p {
  color: #fff;
  font-size: 17px;
}
.footer-section .first-footer-section .third .input-div {
  padding: 5px;
  margin-left: -5px;
  margin-bottom: 18px;
}
.footer-section .first-footer-section .third .input-div input {
  width: 260px;
  padding: 9px;
  font-size: 17px;
  color: #000;
  border-radius: 8px;
  border: none;
  outline: none;
}
.footer-section .first-footer-section .third .input-div input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.521);
}
.footer-section .first-footer-section .third .input-div input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.521);
}
.footer-section .first-footer-section .third .input-div input::placeholder {
  color: rgba(0, 0, 0, 0.521);
}
.footer-section .first-footer-section .third .input-div i {
  color: #fff;
  background-color: #F85A40;
  padding: 10px 13px;
  padding-top: 8px;
  padding-bottom: 14px;
  border-radius: 8px;
  font-size: 24px;
  margin-left: -4px;
}

.first {
  padding: 10px 10px;
}
.first p {
  color: #fff;
  font-size: 17px;
}
.first h1 {
  margin-bottom: 38px;
}
.first h1:hover a {
  color: #F85A40;
}
.first h1 i {
  color: #F85A40;
  font-size: 35px;
}
.first h1 a {
  font-size: 36px;
  transition: 0.5s;
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 1020px) and (max-width: 1135px) {
  .footer-section .first-footer-section {
    height: 330px;
  }
  .footer-section .first-footer-section .third p {
    margin-bottom: 30px;
  }
  .footer-section .first-footer-section .third .input-div input {
    width: 210px;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1019px) {
  .footer-section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-section .first-footer-section {
    height: 360px;
  }
  .footer-section .first-footer-section .f {
    margin-left: 15px;
  }
  .footer-section .first-footer-section .third p {
    margin-bottom: 30px;
  }
  .footer-section .first-footer-section .third .input-div input {
    width: 170px;
  }
  .footer-section .second-footer-section {
    display: block;
    position: relative;
  }
  .footer-section .second-footer-section .ftlastleft {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -28px;
    position: absolute;
    margin-bottom: 0;
  }
  .footer-section .second-footer-section .ftlastright {
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    margin-bottom: -50px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 849px) {
  .footer-section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-section .first-footer-section {
    display: block;
    height: 660px;
  }
  .footer-section .first-footer-section .f {
    margin-left: 15px;
  }
  .footer-section .first-footer-section .third p {
    margin-bottom: 30px;
  }
  .footer-section .first-footer-section .third .input-div input {
    width: 170px;
  }
  .footer-section .second-footer-section {
    display: block;
    text-align: center;
    position: relative;
  }
  .footer-section .second-footer-section .ftlastleft {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -28px;
    position: absolute;
    margin-bottom: 0;
  }
  .footer-section .second-footer-section .ftlastright {
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    margin-bottom: -50px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .footer-section {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-section .first-footer-section {
    display: block;
    height: 600px;
  }
  .footer-section .first-footer-section .f {
    margin-left: 15px;
  }
  .footer-section .first-footer-section .first p {
    font-size: 14px;
  }
  .footer-section .first-footer-section .first h1 {
    margin-bottom: 10px;
  }
  .footer-section .first-footer-section .first h1 i {
    font-size: 28px;
  }
  .footer-section .first-footer-section .first h1 a {
    font-size: 25px;
  }
  .footer-section .first-footer-section .third h4 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .footer-section .first-footer-section .third p {
    font-size: 14px;
  }
  .footer-section .first-footer-section .third .input-div {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-section .first-footer-section .third .input-div input {
    font-size: 14px;
  }
  .footer-section .first-footer-section .third .input-div i {
    font-size: 20px;
  }
  .footer-section .first-footer-section .second .col-ssecond ul li a {
    font-size: 14px;
  }
  .footer-section .first-footer-section .second .col-ssecond ul li i {
    font-size: 9px;
  }
  .footer-section .first-footer-section .second .col-sfirst h4 {
    font-size: 21px;
    margin-bottom: -10px;
  }
  .footer-section .first-footer-section .second .col-sfirst ul li a {
    font-size: 14px;
  }
  .footer-section .first-footer-section .second .col-sfirst ul li i {
    font-size: 9px;
  }
  .footer-section .first-footer-section .third p {
    margin-bottom: 30px;
  }
  .footer-section .first-footer-section .third .input-div input {
    width: 170px;
  }
  .footer-section .second-footer-section {
    display: block;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-section .second-footer-section .ftlastleft {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -28px;
    position: absolute;
    margin-bottom: 0;
  }
  .footer-section .second-footer-section .ftlastright {
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    margin-bottom: -90px;
    padding-right: 0;
    top: 20px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .footer-section {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-section .first-footer-section {
    display: block;
    height: 635px;
  }
  .footer-section .first-footer-section .f {
    margin-left: 15px;
  }
  .footer-section .first-footer-section .first p {
    font-size: 14px;
  }
  .footer-section .first-footer-section .first h1 {
    margin-bottom: 10px;
  }
  .footer-section .first-footer-section .first h1 i {
    font-size: 28px;
  }
  .footer-section .first-footer-section .first h1 a {
    font-size: 25px;
  }
  .footer-section .first-footer-section .third h4 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .footer-section .first-footer-section .third p {
    font-size: 14px;
  }
  .footer-section .first-footer-section .third .input-div {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-section .first-footer-section .third .input-div input {
    font-size: 14px;
  }
  .footer-section .first-footer-section .third .input-div i {
    font-size: 20px;
  }
  .footer-section .first-footer-section .second .col-ssecond ul li a {
    font-size: 14px;
  }
  .footer-section .first-footer-section .second .col-ssecond ul li i {
    font-size: 9px;
  }
  .footer-section .first-footer-section .second .col-sfirst h4 {
    font-size: 21px;
    margin-bottom: -10px;
  }
  .footer-section .first-footer-section .second .col-sfirst ul li a {
    font-size: 14px;
  }
  .footer-section .first-footer-section .second .col-sfirst ul li i {
    font-size: 9px;
  }
  .footer-section .first-footer-section .third p {
    margin-bottom: 30px;
  }
  .footer-section .first-footer-section .third .input-div input {
    width: 170px;
  }
  .footer-section .second-footer-section {
    display: block;
    height: 155px;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-section .second-footer-section .ftlastleft {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -28px;
    position: absolute;
    margin-bottom: 0;
  }
  .footer-section .second-footer-section .ftlastright {
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    margin-bottom: -90px;
    padding-right: 0;
    top: 30px;
  }
  .footer-section .second-footer-section .ftlastright .hi {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 299px) {
  .footer-section {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-section .first-footer-section {
    display: block;
    height: 685px;
  }
  .footer-section .first-footer-section .f {
    margin-left: 15px;
  }
  .footer-section .first-footer-section .first p {
    font-size: 14px;
  }
  .footer-section .first-footer-section .first h1 {
    margin-bottom: 10px;
  }
  .footer-section .first-footer-section .first h1 i {
    font-size: 28px;
  }
  .footer-section .first-footer-section .first h1 a {
    font-size: 25px;
  }
  .footer-section .first-footer-section .third h4 {
    font-size: 21px;
    margin-bottom: 12px;
  }
  .footer-section .first-footer-section .third p {
    font-size: 14px;
  }
  .footer-section .first-footer-section .third .input-div {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-section .first-footer-section .third .input-div input {
    font-size: 14px;
  }
  .footer-section .first-footer-section .third .input-div i {
    display: none;
  }
  .footer-section .first-footer-section .second .col-ssecond ul {
    margin-top: -15px;
    margin-left: -20px;
  }
  .footer-section .first-footer-section .second .col-ssecond ul li a {
    font-size: 14px;
  }
  .footer-section .first-footer-section .second .col-ssecond ul li i {
    font-size: 9px;
  }
  .footer-section .first-footer-section .second .col-sfirst h4 {
    font-size: 21px;
    margin-bottom: -10px;
  }
  .footer-section .first-footer-section .second .col-sfirst ul li a {
    font-size: 14px;
  }
  .footer-section .first-footer-section .second .col-sfirst ul li i {
    font-size: 9px;
  }
  .footer-section .first-footer-section .third p {
    margin-bottom: 30px;
  }
  .footer-section .first-footer-section .third .input-div input {
    width: 170px;
  }
  .footer-section .second-footer-section {
    display: block;
    height: 155px;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-section .second-footer-section .ftlastleft {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -28px;
    position: absolute;
    margin-bottom: 0;
  }
  .footer-section .second-footer-section .ftlastright {
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    margin-bottom: -90px;
    padding-right: 0;
    top: 30px;
  }
  .footer-section .second-footer-section .ftlastright .hi {
    margin-top: 20px;
  }
}